file ../../../std/stdApp/Db/pid_control.db
{
pattern
{P,        PID,       INP,         OUT,        LOPR,  HOPR,  DRVL,  DRVH,  PREC,   KP,  KI,   KD,  SCAN}
{stdTest:, PID1,    pidDemoInp,   pidDemoOut,   0,    100,     0,    5,     3,     0.2,  3.,   0.,  ".1 second"}
}

